#main-title {
  font-family: "Arial", serif;
}

ul li a {
  font-weight: bold;
  font-size: 28px;
}

.link-to-adobong-manok {
  color: rgb(0, 140, 255);
}

.link-to-chicken-curry {
  color: rgb(104, 19, 104);
}

.link-to-pork-sisig {
  color: #d367ee;
}

.bg-adobo-manok,
.bg-chicken-curry,
.bg-pork-sisig {
  background-color: hsl(273, 5%, 57%);
}

.head-desc {
  font-size: 2em;
  border: 1.1px solid hsl(118, 41%, 84%);
}

.custom-color-1 {
  color: hsl(350, 63%, 80%);
}

.p-align {
  text-align: center;
}

.custom-color-2 {
  color: rgb(19, 121, 19);
}

.ul-align {
  text-align: right;
}

.custom-color-3 {
  color: darkblue;
}

.ol-align {
  font-weight: 700;
  font-size: 15px;
}

.resize-img {
  height: 200px;
  width: 200px;
}

.custom-font {
  font-family: "Courier New", Monospace;
}

.custom-font-2 {
  font-family: Copperplate, Papyrus, Fantasy;
}

div.nav-block {
  text-align: center;
}

li.item-how-to {
  padding: 20px;
  margin-bottom: 10px;
}